# vim swap files
*.swp
*.vim
tags

# pycharm stuff
.idea

# Local environment
.python-version
.env

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

# Exclude response objects
flask_app/fh_webhook/responses

# Exclude the schemas generated with eralchemy
flask_app/schema.*

# migrations seem to be machine unique
flask_app/migrations

dist/
build/
*.egg-info/
