# vim swap files
*.swp
*.vim

# pycharm stuff
.idea

# Local environment
.python-version
.env

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

# Exclude response objects
flask_app/fh_webhook/responses

dist/
build/
*.egg-info/
